<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <!--  toolbar -->
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>


  <div class="app-content">

    <!-- ============ Upload list ================ -->
    <md-card>
      <md-card-title>Téléversement de documents</md-card-title>
      <hr>
      <mon-upload-list [uploadUrl]="''"></mon-upload-list>
    </md-card>

    <!-- ============ Test icon ================ -->
    <!--<md-card>-->
      <!--<md-card-title>hello!</md-card-title>-->
      <!--<hr>-->
      <!--<md-icon>build</md-icon>-->
    <!--</md-card>-->

    <md-card class="app-input-section">
      <md-input placeholder="First name"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input>

      <md-input placeholder="Motorcycle model - juste pour apprendre git !!!">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
      </md-input>


    </md-card>


    <!--<md-menu #menu="mdMenu">-->
    <!--<button md-menu-item>Lemon</button>-->
    <!--<button md-menu-item>Lime</button>-->
    <!--<button md-menu-item>Banana</button>-->
    <!--</md-menu>-->

    <!--<md-card>-->
      <!--<md-list>-->
        <!--<md-list-item>Item 1</md-list-item>-->
        <!--<md-list-item>Item 2</md-list-item>-->
        <!--<md-list-item>Item 3</md-list-item>-->
      <!--</md-list>-->
    <!--</md-card>-->
  </div>


</md-sidenav-layout>

<!--<span class="app-action" [class.m2app-dark]="isDarkTheme">-->
  <!--<button md-fab><md-icon>check circle</md-icon></button>-->
<!--</span>-->
